/* unvisited link */
a:link {
    color: #efb27d;
}

/* visited link */
a:visited {
    color: #efb27d;
}

/* mouse over link */
a:hover {
    color: #efb27d;
}

/* selected link */
a:active {
    color: #efb27d;
}

.fancyFont {
	font-family: 'Averia Sans Libre', cursive;
}

.title {
	text-align: right;
	font-style: italic;
	color: #4b53c8;
	font-size:8vw;
}

.textBody {
	font-family: 'Source Code Pro', monospace;
	font-size: .8em;
}

.scrunchBottom {
	margin-bottom: -3vw;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bolder;
}
