/* unvisited link */
a:link {
    color: #E37474;
}

/* visited link */
a:visited {
    color: #E37474;
}

/* mouse over link */
a:hover {
    color: #E37474;
}

/* selected link */
a:active {
    color: #E37474;
}

.fancyFont {
	font-family: 'Averia Sans Libre', cursive;
}

.title {
	text-align: right;
	font-style: italic;
	color: #4b53c8;
	font-size:8vw;
}

.scrunchBottom {
	margin-bottom: -3vw;
}

@media screen and (min-width: 1200px) {
  .title {
     font-size: 80px;
  }
  .scrunchBottom {
  	margin-bottom: -30px
  }
}

.textBody {
	font-family: 'Source Code Pro', monospace;
	font-size: .8em;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bolder;
}
